# macOS system files
.DS_Store

# Xcode user-specific files
*.xcuserstate
*.xcuserdata/

*./HISA/GoogleService-Info.plist

HISA.xcodeproj/project.pbxproj

HISA.xcodeproj/project.xcworkspace/xcuserdata/lukehammond.xcuserdatad
MLTraining
backend/model_weights.pth
backend/uploads/*