# macOS system files
.DS_Store

# Xcode user-specific files
*.xcuserstate
*.xcuserdata/

GoogleService-Info.plist
mapping.json
HISA.xcodeproj/xcuserdata/
backend/jib-4338-hisa-firebase-adminsdk-c9uu0-6b2a83c10a.json

HISA.xcodeproj/project.xcworkspace/xcuserdata/lukehammond.xcuserdatad
MLTraining
backend/model_weights.pth
backend/fault_detection.pth
backend/uploads/*
venv/
