<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKDr8y02MWE4FHK_dXZN2vlYE5PodwffY</string>
	<key>GCM_SENDER_ID</key>
	<string>936151374587</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>honeywell.lhammond</string>
	<key>PROJECT_ID</key>
	<string>jib-4338-hisa</string>
	<key>STORAGE_BUCKET</key>
	<string>jib-4338-hisa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:936151374587:ios:b857edafc2a674bae2ae5e</string>
	<key>DATABASE_URL</key>
	<string>https://jib-4338-hisa-default-rtdb.firebaseio.com</string>
</dict>
</plist>